@use 'variables' as v;
@use 'sass:list';
@use 'sass:map';

.nav__list {
    display: grid;
    place-self: center center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header-menu1 header-menu2 header-menu3";

    .nav__item:nth-child(1) {
        grid-area: header-menu1;
    }
    
    .nav__item:nth-child(2) {
        grid-area: header-menu2;
    }
    
    .nav__item:nth-child(3) {
        grid-area: header-menu3;
    }
}


.info {
    display: grid;
    place-self: center center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
}


.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.25fr;
    grid-template-rows: repeat(3, 1fr);

    @for $i from 1 through 8 {
        &__container:nth-child(#{$i}) {
            grid-area: map.get(list.nth(v.$about-grid-areas, $i), 'grid-area');
        }
    }

    &__container:nth-child(6) {
        z-index: 1;
    }

}
